.block {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.product {
	display: block;
	position: relative;
}

.product img {
	width: 100%;
	max-height: 220px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.descProd{
	height: 200px;
}

.info {
	display: block;
	position: relative;
	padding: 20px;
}

.details {
	border-top: 1px solid #e5e5e5;
	padding: 18px 20px;
}

a.buy {
	top: 20%;
}

a.preview {
	bottom: 20%;
}

.info::after {
	display: block;
	position: absolute;
	top: -8px;
	left: 23px;
	content: "";
	width: 15px;
	height: 15px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.info h4 {
	position: relative;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 19px;
	line-height: 25px;
	color: #372f2b;
	letter-spacing: -1px;
}

.info h4::after {
	display: block;
	position: absolute;
	bottom: 0px;
	content: "";
	width: 40px;
	height: 2px;
	background: #5b7412;
}

.info .description {
	display: block;
	padding-bottom: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #5f5f5f;
}

.info .price {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #372f2b;
	line-height: 26px;
}

.btn-buy {
	color: #FFFFFF !important;
	background-color: #5B7412;
	border-color: #FFFFFF;
}

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active,
.btn-buy.active,
.open .dropdown-toggle.btn-buy {
	color: #FFFFFF;
	background-color: #9EB35F;
}

.btn-buy:active,
.btn-buy.active,
.open .dropdown-toggle.btn-buy {
	background-image: none;
}

.btn-buy.disabled,
.btn-buy[disabled],
fieldset[disabled] .btn-buy,
.btn-buy.disabled:hover,
.btn-buy[disabled]:hover,
fieldset[disabled] .btn-buy:hover,
.btn-buy.disabled:focus,
.btn-buy[disabled]:focus,
fieldset[disabled] .btn-buy:focus,
.btn-buy.disabled:active,
.btn-buy[disabled]:active,
fieldset[disabled] .btn-buy:active,
.btn-buy.disabled.active,
.btn-buy[disabled].active,
fieldset[disabled] .btn-buy.active {
	background-color: #5B7412;
}

.btn-buy .badge {
	color: #5B7412;
	background-color: #FFFFFF;
}

.controls-top{
	z-index: 1;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
	opacity: 0.5;
	display: flex;
}
